/*
 bg1 - #101314
 bg2 - #161A1C
 border #0D434D
 text color - #CEDEDE
 link color - #4F6A73
 */
body {
    background: url('/static/images/design/stripe_4.png') #272F32;
    font-size: 13px/1.5;
    font-family: "Arial";
    color: #CEDEDE;
}
a {
    color: #CEDEDE;
}

a:hover {
    color: #B32D00;
}
a:active {
    color: #B32D00;
}

a:visited {
    color: #aaa;
}

h1 {
    font-size: 35px;
}
h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 20px;
    /*text-transform: uppercase;*/
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 13px;
}

h1, h2, h3 {
    font-family: Times New Roman;
}

.post h1, .comment h1,
.post h2, .comment h2,
.post h3, .comment h3 {
    border-bottom:1px solid #555;
    margin-left: 20px;

}
ol, ul {
    margin-left: 10px;

}
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
	margin-bottom: 20px;
}
/* form */
input, select, textarea, button {
    color: #CEDEDE;
    background-color: #161A1C;
    border: 1px solid #0D434D;

}

/* end form*/


/* images */
a img {
    border: none;
}
.post-body img, .comment-body img{ 
    padding: 5px;
    margin: 2px;
    border: 1px solid #0D434D;
    background-color: #101314;
    max-width: 600px;
} 

.icon img {
    margin-left: 5px;
}

/* blocks */
#main {

    border-top: 15px solid #0D434D;
    padding-top: 5px;
    background-color: #101314;
}


#footer {
    margin-top: 15px;
    padding-bottom: 5px;
    color: #666;
    text-align: center;
    font-size: 9px;
}
#footer a { color: #666;}


.post, .comment {
    padding: 10px;
    /*background: url('/static/images/design/stripe_4.png') repeat;*/

}

/* post */

.post-header {
    border-bottom: 1px solid #0D434D;
    height: 40px;
    margin-bottom: 20px;
}
.post-title {
    font-family: Times New Roman;
    font-size: 25px;
    float: left;
}
.post-title a { 
    color: #FFF;
}

.post-date {
    float: right;
}

.post-footer {
    border-top: 1px solid #0D434D;
    font-size: 9px;
    margin-top: 10px;
    padding-top: 5px;
}
.post-footer-block-text {
    margin-left: 10px;
}

/*
.post-category {
    background: url(/static/images/icons/folder-16.gif) no-repeat;
    background-position: 0% 0%;
    margin-left: 5px;
    padding-left: 20px;
}
.post-tag {
    background: url(/static/images/icons/tag-16.gif) no-repeat;
    background-position: 0% 0%;
    margin-left: 5px;
    padding-left: 20px;
}

.post-comments {
    background: url(/static/images/icons/comments-16.gif) no-repeat;
    background-position: 0% 0%;
    margin-left: 5px;
    padding-left: 20px;
}

*/

/* end post */

/* comment style */
.comment-header {
    border-bottom: 1px solid #666;
    height: 20px;
    padding-bottom: 5px;

}
/* end comment */

/* left block */
.left_block {
    padding:0;
    padding-left: 20px;
    padding-top: 10px;
    margin-left: -1px;
    margin-right: -1px;
}

.left_block ul {
    margin-left: 0;
}
.left_block ul li {
    margin-bottom:5px;
}
/* end left block */



.post, .comment, .left_block {
    margin-bottom: 10px;
    border: 1px solid #0D434D;
    background-color: #161A1C;
    border-top: 15px solid #0D434D;

}


.float-left {
    float: left;
}
.float-right {
    float: right;
}

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
