{% load pytils_dt%}
    <div class="post">
        <div class="post-header">
            <span class="post-title"><a href="{% url blog.views.post post.slug %}">{{post.title}}</a></span>
            <div class="post-date">
                <img class="icon" src="/static/images/icons/calendar.png" alt="post date" title="posted: {{ post.datetime_add|date:"r"}}"/>
                {{ post.datetime_add|ru_strftime:"%d %B %Y"}}</div>

        </div>
        <div class="post-body">
            {{post.body_html|safe }}
            {% if turncate %}
            <a href="{% url blog.views.post post.slug %}">read more</a>
            {% endif %}
        </div>
        
        <div class="post-footer">
            <span class="post-footer-block-text"> 
                <img class="icon" src="/static/images/icons/folder.png" alt="category"/>
                <a href="{% url blog.views.category post.category.slug %}">{{post.category}}</a>
            </span>
            <span class="post-footer-block-text">
                <img class="icon" src="/static/images/icons/tag.png" alt="tag"/>
            {% if post.tags %}
                {% for tag in post.tags %}
                <a href="{% url blog.views.tag tag.id%}">{{ tag.name }}</a>, 
                {% endfor%}
            {% else %}
            no tags...
            {% endif %}
            </span>
            <span class="post-footer-block-text"><a href="{% url blog.views.post post.slug %}#c" title="view comments">
<img class="icon" src="/static/images/icons/comments.png" alt="comments"/>
({{post.comment_set.all.count}})</a></span>
        </div>
    </div>

