{% extends "blog/base_blog.html" %}
{% block content %}
{% load wikimarkup %}

{% load typographus %}
{% filter typographus%}
<table>
    <tr><th><h2><a href="{% url blog.views.sorted "category",post.category.slug %}">{{post.category}}</a> \ {{post.title}}</h2></th></tr>
    <tr><td>{{post.body|textile_syntax|safe}}</td></tr>
    <tr>
        <td>Tags: {% for tag in post.tags.all %}
        <a href="{% url blog.views.sorted "tag", tag.slug%}">{{ tag.title }}</a>, {% endfor%}</td>
    </tr>
    <tr><td>Date add: {{ post.datetime_add|date:"r" }}; Last update: {{post.datetime_update|date:"r"}}</td></tr>
</table>
<h4>Comments ({{comments.count|default:"0"}})</h4>
<ol>
{% for comment in comments %}
    <li><b>{{comment.title}}</b><br/>
    <p>{{comment.body|textile_syntax|safe}}</p>
    {{comment.author|default:"anonymous"}} ({{comment.datetime_add|date:"r"}})</li>
{% endfor %}
</ol>
<table>
<form action=. method="post">
<tr><td>title: {{ add_comment.title }}</td></tr>
<tr><td>{{ add_comment.body }}</td></tr>
<tr><td><input type="submit" value="send"></input></td></tr>
</form>
</table>
{% endfilter %}
{% endblock %}

